.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0;
    height: 293px;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 31px;
    width: 391.48px;
    height: 22px;
    list-style: circle;
    font-family: Raleway;
    font-size: 18px;
    margin-left: 50px;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.address {
    font-family: Raleway;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal ;
    max-width: 240px;
    height: 98px;
    text-underline-offset: 5px;
}

.header__address {
    margin: 95px 50px 100px 184px;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 757px;
    position: relative;
    background-image: url(/images/cover.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    opacity: 60%;
    background-color: black;
    z-index: 1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    position: relative;
    font-family: Raleway;
    font-size: 100px;
    font-style: bold;
    color: #FFF;
    z-index: 2;
    height: 385px;
    width: 1000px;
    margin: 165px 50px 0 50px;
}

.aligned-text {
    line-height: 114.99999999999999%;
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 106px 50px 50px 50px;
    width: 1000px;
    height: 51px;

}

.cover__description-text {
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-style: bold;
    font-weight: 400;
    color: #FFF;
    position: relative;
    z-index: 2;
    word-spacing: 18.5px;
    line-height: 28px;
    width: 637px;
    margin: 668px 0 11px 0;
}

.bet-button {
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-style: bold;
    color: #FFF;
    position: relative;
    z-index: 2;
    width: 256px;
    height: 51px;
    border: 1;
    border-color: #FFF;
    background-color: transparent;
}

.lots {
    margin: 180px 24px 120px 24px;
}

.lots__heading {

}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    margin-left: 24px;
    margin-right: 24px;
}

.card-link {
    height: 100%;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card__title{

}

.card__text{
    display: flex;
    flex-direction: column;
    justify-content: end;
}